
{% extends "base.html" %}

{% block title %} Login {% endblock%}
{% block content%}



<h2 class="text-center">CONNEXION</h2>
<div style="border: solid 0.51px;box-shadow: 1px 2px 6px blue" class="col-10 col-md-3 mx-auto text-center  mt-4">
	<h1 >Login</h1>

     
			<form style="" class="mt-4" method="POST" action="">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Se connecter</button>
			</form>

      

</div>


<style>
	label{
	font-weight: bold
}
form{
	text-align: -moz-right
}
input{
	border: solid 2px blueviolet;
}
</style>




{% endblock%}



  {% block dashnav%}  
  {% endblock %}



   {% block state %}      
   {% endblock %}

      {% block end_dash %} 
      {% endblock %}

   <script>
   	username = document.getElementsByTagName('input')[2]
   	password = document.getElementsByTagName('input')[3]

   	password.classList += 'lolo'
   </script>