{% extends "base.html" %}

{% block title %} Profile {% endblock%}
{% block content%}

<!------ Include the above in your HEAD tag ---------->
<style>
    .tab-content{
        
    }
</style>

<div style="margin-top: 20px;" class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img style="height: 200px"  src="data:;base64,{{ user.profile.binaire }}" alt=""/>
                  
                </div>
            </div>
            


            <table style="max-width: 500px" class="table table-dark">
                
                    <tr>
                      <th scope="row">User Id</th>
                      <td>{{user.id}}</td>
                     
                    </tr>
                    <tr>
                      <th scope="row">Name</th>
                      <td>{{user.username}}</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">Email</th>
                      <td>{{user.email}}</td>
                     
                    </tr>
                    <tr>
                      <th scope="row">Phone</th>
                      {% if user.profile.phone %}
                                        <td>{{user.profile.phone}}</td>
                                        {% else %}
                                        <td>XXXXX</td>
                                        {% endif %}
                     
                    </tr>
                    <tr>
                      <th scope="row">Description</th>
                      {% if user.profile.description %}
                                        <td>{{user.profile.description}}</td>
                                        {% else %}
                                        <td>XXXXX</td>
                                        {% endif %}
                     
                    </tr>

                    <tr>
                      <th scope="row">Ville</th>
                       {% if user.profile.city %}
                                        <td>{{user.profile.city}}</td>
                                        {% else %}
                                        <td>XXXXX</td>
                                        {% endif %}
                     
                    </tr>

                    <tr>
                      <th scope="row">Site Web</th>
                      {% if user.profile.website %}
                                        <td><a class="text-white" href="{{user.profile.website}}">{{user.profile.website}}</a></td>
                                        {% else %}
                                        <td>XXXXX</td>   
                                        {% endif %}
                     
                    </tr>

                     <tr>
                      <th scope="row">Genre</th>
                       {% if user.profile.genre == 1%}
                                        <td>Homme</td>
                                        {% elif user.profile.genre == 2 %}
                                        <td>Femme</td>
                                        {% else %}
                                        <td>XXXXX</td>

                                        {% endif %}
                     
                    </tr>
                
            </table>
            
        </div>
        
    </form>           
</div>


<hr>

<div class="mt-4">
    <div>
        <h3 style="text-align: center;font-family: sans-serif;">Mettre à jour vos informations</h3>
        <div style="max-width: 800px;border: dotted 1px ;" class="card-body mx-auto">

            <form enctype="multipart/form-data" style="" class="mt-4" method="POST" action="">

            {% csrf_token %}
                    {{ form.as_p }}

                    <button class="mb-2 btn btn-primary" type="submit">Valider</button>
            </form>
        </div>

    </div>

</div>

<style>
    label{
    font-size: 12px;
    font-weight: bold;

}
p{
    text-align: left;
    
}
input{
    border: solid 2px blueviolet;
    display: block;
    float: right;
    font-size: 14px;

}
select{
    display: block;
    float: right;

}
</style>


{% endblock%}



  {% block dashnav%}  
  {% endblock %}



   {% block state %}      
   {% endblock %}

      {% block end_dash %} 
      {% endblock %}

