{% extends "base.html" %}

	{% block content%}
	<h1>PARTIE BLOG DE L'APPLICATION <i class="fas fa-sync fa-spin"></i> </h1>
		<div class="container content">
			
			
			{% for i in posts%}
      <div id="celui">
        
      

						<a data-id='{{i.id}}'  href="{% url 'post_publish' %}">PUBLISH {{i.id}} </a>

            <button class="publisher" data-id='{{i.id}}' class="btn btn-success">Faire</button>
						<a style="text-decoration: none;font-size: 2em" href="{% url 'post_edit' i.id %}"><i class="fas fa-pencil-alt fa-spin"></i></a>

			
						<p>Published : {{i.published_date}}</p>
						<h2><a href="{% url 'post_detail' i.id%}">{{i.title}} {{ forloop.counter}}</a></h2>
						<p>{{i.text}}</p>
      </div>
			

			{% endfor %%}
		
			
		</div>



{% endblock%}

  {% block dashnav%}  
  {% endblock %}



   {% block state %}      
   {% endblock %}

      {% block end_dash %} 
      {% endblock %}

 {% block javascript %} 

 		{{ block.super }}
 		    <script type="text/javascript">
  
      $('.publisher').click(function(){ 
      	
      var id; 
      celui = this

      id = $(this).attr("data-id"); 
      console.log(id)

      $.ajax( 
      { 
          type:"GET", 
          url: "publish", 
          data:{id: id}, 


          success: function( data ) { 
          //$( '#like'+ id ).removeClass('btn btn-primary btn-lg'); 
          //$( '#like'+ id ).addClass('btn btn-success btn-lg');
          console.log("waaaohjdekjdkjedbke")
          $(celui).parent("#celui").remove()


           }      


           
       })



     


           });
</script>
      {% endblock %}


  