  <div class="container-fluid">
  <div class="row d-flex">
    <div class="order-1 order-md-1 col-12 col-md-2 border-right py-3 bg-sidebar-light">
      <div>
        <div expand="md">
          <div class="d-md-none">
            <form class="my-0 form d-md-none d-inline w-25">
              <input class="form-control mr-md-2" type="text" name="q" placeholder="Search" aria-label="Search" value=""><button class="btn btn-outline-secondary d-none" type="submit">Search</button>
            </form>
          </div>
          <div class="false">
            <ul class="mb-4 list-group">
            	<a class="list-group-item px-2" href="/courses">Courses</a>
            	<a class="list-group-item px-2 "  href="/projects">Projects</a>

            	<a class="list-group-item px-2 active" aria-current="page" href="/blog">Posts</a><a class="list-group-item px-2" href="/t">Topics</a></ul><ul class="mb-4 list-group"><a class="list-group-item px-2 d-none" href="/messages">Messages</a><a class="list-group-item px-2" href="/questions">Questions</a><a class="list-group-item px-2" href="/blocks">Code Blocks</a></ul><ul class="mb-4 list-group"><a class="list-group-item px-2 text-success" href="/from-zero">Start Here</a></ul>
          </div>
        </div>
      </div>
    </div>


   


    <div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
      <div>
       
        <div class="text-left">
          <div class="mb-2">
            <div>
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h1>messages</h1>
                </div>



                <div class="flex-shrink-1">
                  <div class="dropdown">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-secondary my-1 float-right dropdown-toggle btn btn-secondary">
                      <span class="px-1">Recent</span>
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                      <button type="button" name="Fire" value="-rank" tabindex="0" class="false dropdown-item">Fire</button>
                      <button type="button" name="Ice" value="rank" tabindex="0" class="false dropdown-item">Ice</button>
                      <button type="button" name="Recent" value="-timestamp" tabindex="0" class="active dropdown-item">Recent</button>
                      <button type="button" name="Older" value="timestamp" tabindex="0" class="false dropdown-item">Older</button>
                      <button type="button" name="A-Z" value="title" tabindex="0" class="false dropdown-item">A-Z</button>
                      <button type="button" name="Z-A" value="-title" tabindex="0" class="false dropdown-item">Z-A</button>
                    </div>
                  </div>
                </div>
            </div>

            </div>
          </div>

         

            <span class="btn btn-link btn-sm text-center d-none"></span>

      </div>




     	<div>
     		<div class="list-group">
     			<a class="list-group-item mb-2" href="/messages/jmitchel3">jmitchel3  <small><span class="text-muted">2 days ago </span></small><p class="text-muted p-0 m-0">
     				<span width="0">
     					<span>
     						<span>
     							<span>Hey!  I'm Justin and I wanted to thank you for being here. I'm here to help answer questions if you have them.  What is your goal? What are you workin<span>...</span>
     						</span>
     						</span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"><span>...</span></span></span>
     					</p>
     			</a>


     				<a class="list-group-item" href="/messages/jmitchel3">Marck zukerberg  <small><span class="text-muted">4 days ago </span></small><p class="text-muted p-0 m-0">
     				<span width="0">
     					<span>
     						<span>
     							<span>Hey my bro Richard i'm very proud of you<span>...</span>
     						</span>
     						</span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"><span>...</span></span></span>
     					</p>
     			</a>


     			</div>
     		</div>


       


 </div>
    </div>

     </div>
    </div>

      
  


<div class="container-fluid border-top py-5">
	<div class="row">
		<div class="col-12 mx-auto text-center mb-2"><small class="text-muted"><a class="undefined" href="/about">About</a> ·  
			<a class="undefined" href="/suggest">Suggestions</a> · 
			 <a class="undefined" href="/contact">Contact</a> ·  
			 <a class="undefined" href="/connect">Connect</a>  ·  
			 <a class="undefined" href="/coming-soon">Coming Soon</a>
			</small>
		</div>
	</div>

	<div class="row">
		<div class="col-12 mx-auto text-center">
			<a class="undefined active" aria-current="page" href="/">
				<img src="https://cfe2-static.s3-us-west-2.amazonaws.com:443/static/img/icons/android-icon-48x48.png" alt="footer logo" class="img-fluid rounded mr-3" width="30" height="30">
			</a>
			<small class="text-muted">© Copyright 2019 · atelieriia.herokuapp.com</small>

		</div>
	</div>

</div>

