  <div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
    <div>
      <h3>Questions</h3>
      <div class="min-height">
          <a class="list-group-item mb-2" href="/questions/had-an-issue-with-running-server-in-python-when-ru">
              <div class="row">
                <div class="col-2 col-md-1 text-center">
                    <div class="text-avatar-img-x text-avatar ">
                          <span>P</span>
                    </div>
                </div>

              <div class="col">
              <span width="500">
                <span><span><span>had an issue with running server in python when running python man<span>...</span></span></span></span>
                <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"><span>...</span></span>
              </span>

              <p class="py-0 my-0"><small class="text-muted"><span>8 days ago </span></small> </p>
              </div>

              </div>

          </a>

           <a class="list-group-item mb-2" href="/questions/had-an-issue-with-running-server-in-python-when-ru">
              <div class="row">
                <div class="col-2 col-md-1 text-center">
                    <div class="text-avatar-img-x text-avatar ">
                          <span>P</span>
                    </div>
                </div>

              <div class="col">
              <span width="500">
                <span><span><span>had an issue with running server in python when running python man<span>...</span></span></span></span>
                <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"><span>...</span></span>
              </span>

              <p class="py-0 my-0"><small class="text-muted"><span>8 days ago </span></small> </p>
              </div>

              </div>

          </a>

      </div>
    </div>


  </div>


