{% load static %}
<!-- Header -->
<header class="bg-primary text-center py-2 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Rencontrez notre team </h1>
  </div>
</header>

<!-- Page Content -->
<div  class="container" >
  <div class="row">

    {% for membre in membres_bureau%}
    <!-- Team Member 1 -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-0 shadow">
      <img height="" src="{% static 'images/membres/' %}{{membre.image}}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title mb-0">{{membre.nom}} {{membre.prenom}}</h5>
        <div class="card-text text-black-50">{{membre.poste}}</div>
      </div>
    </div>
  </div>

    {% endfor %}



  </div>
  <!-- /.row -->

</div>
<!-- /.container -->