
    <div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
      <div>
       
        <div class="text-left">
          <div class="mb-2">
            <div>
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h1>Cours</h1>
                </div>



                <div class="flex-shrink-1">
                  <div class="dropdown">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-secondary my-1 float-right dropdown-toggle btn btn-secondary">
                      <span class="px-1">Recent</span>
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                      <button type="button" name="Fire" value="-rank" tabindex="0" class="false dropdown-item">Fire</button>
                      <button type="button" name="Ice" value="rank" tabindex="0" class="false dropdown-item">Ice</button>
                      <button type="button" name="Recent" value="-timestamp" tabindex="0" class="active dropdown-item">Recent</button>
                      <button type="button" name="Older" value="timestamp" tabindex="0" class="false dropdown-item">Older</button>
                      <button type="button" name="A-Z" value="title" tabindex="0" class="false dropdown-item">A-Z</button>
                      <button type="button" name="Z-A" value="-title" tabindex="0" class="false dropdown-item">Z-A</button>
                    </div>
                  </div>
                </div>
            </div>

            </div>
          </div>

         

            <span class="btn btn-link btn-sm text-center d-none"></span>

      </div>




        <div class="row">
        

   
<div>
  <div class="card mb-5 pt-3 pb-5 rounded-0 border-top-0 border-right-0 border-left-0">
    <div class="row">
      <div class="col-md-4">
        <a class="mr-2" href="/courses/rest-api">
          <img src="https://static.codingforentrepreneurs.com/media/courses/rest-api/images/rest_api_bg.jpg" class="w-100" alt="course REST API thumbnail">
        </a>
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title undefined"> <a class="mr-2" href="/courses/rest-api">REST API</a></h4>
          <div class=" markdown-preview  jm-markdown">
            <p>Build a REST API by leveraging Django, Python and the Django Rest Framework. </p>
            <p>REST APIs are here to connect your web application to anything and everything. Build microservices, connect to client-side technologies like Angular &amp; Ionic, and connect to other apps too.</p>
            <p>This course will teach you exactly how to build one with Django and Python.</p>
          </div>
          <a class="mr-2 btn btn-outline-primary" href="/courses/rest-api">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="card mb-5 pt-3 pb-5 rounded-0 border-top-0 border-right-0 border-left-0">
    <div class="row">
      <div class="col-md-4">
        <a class="mr-2" href="/courses/rest-api">
          <img src="https://static.codingforentrepreneurs.com/media/courses/rest-api/images/rest_api_bg.jpg" class="w-100" alt="course REST API thumbnail">
        </a>
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title undefined"> <a class="mr-2" href="/courses/rest-api">REST API</a></h4>
          <div class=" markdown-preview  jm-markdown">
            <p>Build a REST API by leveraging Django, Python and the Django Rest Framework. </p>
            <p>REST APIs are here to connect your web application to anything and everything. Build microservices, connect to client-side technologies like Angular &amp; Ionic, and connect to other apps too.</p>
            <p>This course will teach you exactly how to build one with Django and Python.</p>
          </div>
          <a class="mr-2 btn btn-outline-primary" href="/courses/rest-api">View</a>
        </div>
      </div>
    </div>
  </div>
</div>


</div>


</div>
</div>
</div>

    </div>
   
              

         

   
        </div>
       


 </div>
    </div>