  <div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
    <div>
      <h3>Questions</h3>
      <div>

        {% for this in questions%}
          <a class="list-group-item mb-2" href="{% url 'questions' this.id %}">
              <div class="row">
                <div class="col-2 col-md-1 mr-4 text-center">
                    <div class="text-avatar-img-x text-avatar ">
                          <span>{{ this.user.username }}</span>
                    </div>
                </div>

              <div class="col">
              <span width="500">
                <span>{{ this.titre|truncatechars:40 }}</span>
              </span>

              <p class="py-0 my-0"><small class="text-muted"><span>{{ this.date }}</span></small> </p>
              </div>

              </div>

          </a>

          {% endfor %}


      </div>
    </div>


<div class="mt-2">
        <div>
          {% load crispy_forms_tags %}
          <h3 style="text-align: center;font-family: sans-serif;">Posez votre question </h3>
          <div>
            {% crispy form %}

          </div>

        </div>

</div>

  </div>


<style>

</style>

<script type="text/javascript">
  document.querySelector("form textarea").setAttribute("rows", "2"); 
</script>